    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom right, #e4d5d5, #d4d7e0, #dfcfcf);
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .container {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      height: 290px;
      margin-top: -105px;
    }

    .login-downcontainer {
        align-items: center;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
        height: 10px;
        margin-top: 55px;
        margin-left: -20px;
        display: flex;
      }

    .login-downcontainer:hover {
        background-color: #ebe8e8;
    }

    .login-container h2 {
      text-align: center;
      color: #333;
    }

    .miclogo {
        display: flex;
        margin-top: 25px;
        margin-left: 25px;
        width: 25px;
        height: 25px;
    }

    .miclogo p {
        display: flex;
        margin-top: -3px;
        margin-left: 5px;
        width: 25px;
        height: 25px;
        color: #838181;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .sign {
        display: flex;
        margin-left: 25px;
        margin-top: -10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .form-group input {
      display: flex;
      margin-left: 25px;
      margin-top: -20px;
      width: 80%;
      height: 30px;
      padding: 10px;
      padding-left: 0px;
      border: none;
      outline: none;
      border-bottom: 1.5px solid rgb(13, 79, 155);   
    }

    input::placeholder {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        position: relative;
    }

    .no_acc {
        font-family: calibri;
        font-size: 15px;
        display: flex;
        margin-left: 25px;
        margin-top: -15px;
        color: #555;
    }

    .no_acc .p2 {
        margin-left: 5px;
        color: rgb(31, 112, 204);
        cursor: pointer;
    }

    .no_acc .p2:hover{
        text-decoration: underline;
    }

    .access_acc {
        font-family: calibri;
        font-size: 15px;
        display: flex;
        margin-left: 25px;
        margin-top: -15px;
        color: rgb(31, 112, 204);
        cursor: pointer;
    }

    .access_acc:hover {
        text-decoration: underline;
    }

    .form-group2 .back {
      width: 25%;
      margin-left: 37%;
      margin-top: 15px;
      padding: 5px;
      background-color: rgb(197, 195, 195);
      color: black;
      border: none;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
    }

    .form-group2 .back:hover {
        background-color: #aaa9a9;
    }

    .form-group2 .next {
        width: 25%;
        padding: 5px;
        background-color: rgb(31, 112, 204);
        color: #fff;
        border: none;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
      }

      .form-group2 .next:hover {
        background-color: rgb(18, 89, 170);
    }

    .key {
        margin-left: 30px;
    }
    .option {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10px;
        color: #555;
    }

    .username-display {
      margin-left: 25px;
      margin-top: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      cursor: pointer;
    }

    .sign_in {
      text-decoration: none;
      width: 25%;
      padding: 8px 30px 8px 30px;
      background-color: rgb(31, 112, 204);
      color: #fff;
      border: none;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 15px;
      margin-left: 255px;
    }

    .container input, .sign, .no_acc, .access_acc, .form-group2 {
      animation: slideIn 0.5s forwards;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-14%);
      }
      to {
        transform: translateX(0);
      }
    }